#kasia{
    margin-left: 10px;
    border: 1px solid rgba(255, 255, 255, 0.65);
}
#about{
    margin-left:auto; 
}

#insta{
    margin-bottom: 3px;
    padding: 9.4px;
    margin: 2.5px;
    margin-right: 20px;
}

#insta-icon{
    vertical-align: middle;
    height: 21px;
    /* -webkit-filter:invert(100); */
}




a {
    text-decoration: none;
}
a:visited {
    color: white;

}
a:link {
    color: #FFFFFF;
    text-shadow: 0px 0px 9px #000000;
}
a:hover {
    /* text-shadow: 0px 0x 9px #ffffff; */
    text-shadow: -1px 0 grey, 0 1px grey, 1px 0 grey, 0 -1px grey;
    /* color: rgb(54, 54, 54); */

}


.flex-container{
    font-size: 23px;

    justify-content: center;
    float:left;
    position:fixed;


    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center; /* top-bottom*/
    justify-content:space-between; /* left-right*/
    padding-left: 0px;
    
    margin-top: 0px;
    padding-bottom: 30px;
    height: 70px;
    width: 100%;
    /* padding-left: -10px; */
    /* margin-right: 1%; */
    /* background-color: rgba(255, 203, 203, 0.438); */
    background-image: none;
    
}
.flex-container > div{
    vertical-align: middle;
    width: auto;
    padding: 10px;
    margin: 2.5px;
    /* color: white; */
    /* border: 1px solid rgb(112, 112, 112); */
    /* text-shadow: -1px 0 grey, 0 1px grey, 1px 0 grey, 0 -1px grey; */
}

div a{
    color:black;
}