#insta{
    margin-bottom: 3px;
    padding: 9.4px;
    margin-right: 10px;
} 

#insta-icon{
    vertical-align: middle;
    height: 21px;
    padding-right: 10px;
    -webkit-filter:invert(0);
}



#flex-container{
    background-color: rgba(0,0,0,0);
}




a {
    color: white;
}
a:visited {
    color: white;
}
a:link {
    color:  white;
    text-shadow: 0px 0px 9px #000000;
}