@font-face {
    font-display: block;
    font-family: "Wremena";
    src: url(/font/WremenaLight/WremenaLight.woff) format("woff");
    font-style: normal;
    }


:root{
    --following-animation-duration: 750ms;
}




body {
  font-family: "Wremena";
  cursor: default;
  margin: 0px;
  padding: 0px;
  color:rgba(0, 0, 0, 0.9);


/* makes text not selecable */

-webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
     -moz-user-select: none; /* Old versions of Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none; /* Non-prefixed version, currently
                                supported by Chrome, Edge, Opera and Firefox */

}



::-webkit-scrollbar {
    width: 10px;  
    background: rgba(255, 255, 255, 0);
}
::-webkit-scrollbar-track {
    background: rgba(255, 166, 0, 0);    
}
::-webkit-scrollbar-thumb {
    border-radius: 3px;      
    border: 1px solid rgb(92, 92, 92);  
}



/* Header */

#navbar {
    position: fixed;
    padding-left: 10px;
    top: 0;
    width: 100vw;
    display: block;
    transition: bottom 0.7s;
    z-index: 1;
  }



#flex-container{
    font-size: 20.7px;

    justify-content: center;
    float:left;
    position:fixed;


    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center; 
    align-items: none; /* top-bottom*/
    justify-content:space-between; /* left-right*/
    
    margin-top: 0px;
    height: 63px;
    width: 100vw;
    padding-left: 5px;
    padding-right: 10px;
    background-color: rgb(255, 255, 255);

    /* box-shadow: 0px 0px 3px 0px rgb(255, 255, 255); */

    transition: 0s;
    -webkit-filter:invert(0);
    
}
#flex-container > div{
    vertical-align: middle;
    width: auto;
    padding: 10px;
    padding-top: 10px;
    padding-right: 40px;
    /* background-color: burlywood; */



    /* margin: 2.5px; */
    /* color: white; */
    /* border: 1px solid rgb(112, 112, 112); */
    /* text-shadow: -1px 0 grey, 0 1px grey, 1px 0 grey, 0 -1px grey; */
}

/* Buttons */


a {
    text-decoration: none;
    letter-spacing: 1.5px;
}
a:visited {
    color:rgba(0, 0, 0, 0.9);
}
a:link {
    color:rgba(0, 0, 0, 0.9);
}
a:hover {
   text-decoration: underline;
}

#kasia a{
    margin-left: 7px;
    /* letter-spacing: 0.8px; */
}

#about{
    margin-left:auto; 
}

#contact{
    margin-right: 28px;
}

#insta{
    margin-bottom: 3px;
    padding: 9.4px;
    margin-right: 20px;
    margin-right: 0px;
}

#insta-icon{
    vertical-align: middle;
    height: 21px;
    -webkit-filter:invert(100);
}











/*Slideshow */

.img1, .img2, .img3, .img4 {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -1;
}
    
.img1 {
    background-image: url("/content/images/2_Wohnzimmer_3.webp");
}
.img2 {
    background-image: url("/content/images/5_Loft_3.webp");
    animation: slideTwoAnim 18s infinite;
}
.img3 {
    background-image: url("/content/images/9Club.webp");
    animation: slideThreeAnim 18s infinite;
}

    
@keyframes slideTwoAnim {0% {opacity: 0;}17% {opacity: 0;}33% {opacity: 1;}50% {opacity: 1;}67% {opacity: 0;}100% {opacity: 0;}}
@keyframes slideThreeAnim {0% {opacity: 0;}50% {opacity: 0;}67% {opacity: 1;}83% {opacity: 1;}100% {opacity: 0;}}
@keyframes slideFourAnim {0% {opacity: 0;}50% {opacity: 0;}67% {opacity: 1;}83% {opacity: 1;}100% {opacity: 0;}}






/* Common */

#content{

    z-index: 0;
    /* height: auto; */
    width: 74%;
    margin-top: 13vh;

    margin-left: 14%;
    float: left;

}


h1{
    margin:0px;
    font-size: 25px;
    font-weight: normal;
}

h2{
    margin:0px;
    font-weight: normal;
}

p{
    font-size: 22px;
    font-weight: normal;
    margin: 0px;
    margin-left: 50px;
}

h2:hover, p:hover{
    color:rgba(0, 0, 0, 0.551);
}


