

/* #insta{
    margin-bottom: 3px;
    padding: 9.4px;
    padding-right: 40px;
    margin-right: 0px;
} */




.gallery {
    /* margin-top: 130px; */

    height: auto;
    width: 100%;

    overflow: auto;
    position: absolute;

    padding-top: 6.5vh;


    top: 6vh;
    left: 0;
    right: 0;
    bottom: 0;

    /* float: left; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-shrink: 0;
    justify-content:space-around;

}


.box {
    position: relative;
    margin: 0px;
    margin: 1.3vw;
    margin-top: 0px;
    margin-bottom: 5vw;


    width: 29vw; 
    height: 40vh;

    min-width: 435px; 
    min-height: 313px;

    
    
    /* text-align: center; */

    /* background-color: rgb(255, 252, 97); */
}



.picture{
    object-fit: cover;
    position:absolute;

    width: 100%;
    height: 86%;
    /* background-color: brown; */
}

.container_img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.box img {
    width:100%;
}

p{
    margin: 0px;
}

.description{
    position:absolute;

    width: 100%;
    bottom: 10px;

    text-align: center;
    /* background-color: blue; */
}






