.gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-around;
    
    padding: 0px;
    margin: 0px;;

    height: auto;
    width: 100%;
    padding-top: 6.5vh;

    overflow: auto;
    position: absolute;

    top: 6vh;
    left: 0;
    right: 0;
    bottom: 0;

    background-color: aliceblue;
}

.box {
    position: relative;
    margin: 0px;
    margin: 1.3vw;
    margin-top: 0px;
    margin-bottom: 5vw;

    width: 30vw; 
    height: 40vh;


    min-width: 435px; 
    min-height: 313px;
}


.picture{
background-color: aquamarine;

    object-fit: cover;
    position:absolute;

    width: 100%;
    height: 86%;
}

.container_img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.box img {
    width:100%;
}

.description{
    position:absolute;

    width: 100%;
    bottom: 10px;

    text-align: center;
}

p{
    margin: 0px;
}