#insta{
    margin-bottom: 3px;
    padding: 9.4px;
    margin-right: 20px;
}


.gallery {
    margin-top: 100px;
    /* margin-left: 10px; */

    height: auto;
    width: 100%;

    float: left;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;


    /* background-color: rgb(206, 206, 206) */

   
}


.box {
    margin: 30px;
    margin-bottom: 100px;

    /* master */
    width: 600px; 

    height: 400px;
    height: auto;
    
    text-align: center;
    /* background-color: rgb(255, 252, 97); */
}

.box img {
    width:100%;
}