
#content{
    z-index: 0;
    /* height: auto; */
    width: 34vw;
    margin-top: 13vh;
    /* margin-left: 14%; */
    margin-right: 50vw;
    /* float: left; */
    /* background-color: chartreuse; */
}



#content{
    padding-top: 5vh;
    padding-left: 14%;
    padding-right: 10%;

    overflow: auto;
    position: absolute;


    top: 6vh;
    left: 0;
    right: 0;
    bottom: 0;

}










.description{
    /* position:fixed; */
    height: auto;
    width: 34vw;
    /* background-color: cadetblue; */
    margin-right: 60vw;
}

h1{
    margin:0px;
    font-size: 25px;
    font-weight: normal;
}


p{
    font-size: 22px;
    font-weight: normal;
    margin: 0px;
    margin-left: 50px;
}






.container_img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}




.box{
    position:absolute;
    width: 46vw;
    height: 45vh;
}

.picture{
    object-fit: cover;
    position:absolute;

    width: 100%;
    height: auto;
    /* background-color: brown; */
}








#pic1{
    margin-left: 52vw;
    margin-top: 13vh;
}

#pic2{
    margin-left: 2vw;
    margin-top: 45vh;
}

#pic3{
    margin-left: 52vw;
    margin-top: 80vh;
}

#pic4{
    margin-left: 2vw;
    margin-top: 113vh;
}

#pic5{
    margin-left: 52vw;
    margin-top: 147vh;
}

#pic6{
    margin-left: 2vw;
    margin-top: 182vh;
    padding-bottom: 200px;
}