#insta{
    margin-bottom: 3px;
    padding: 9.4px;
    margin-right: 20px;
}


.gallery {
    margin-top: 100px;

    height: auto;
    width: 100%;

    top: 0px;
    float: left;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    /* background-color: rgb(206, 206, 206) */
}


.box {
    position: relative;

    margin: 30px;
    margin-bottom: 60px;

    width: 600px; 
    height: 450px;
    
    text-align: center;

    /* background-color: rgb(255, 252, 97); */
}

.picture{
    object-fit: cover;

    position:absolute;

    width: 100%;
    height:400px;
    /* background-color: brown; */
}

.container_img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.box img {
    width:100%;
}

.description{
    position:absolute;

    width: 100%;
    bottom: 14px;

    text-align: center;
    /* background-color: blue; */
}

p{
    /* font-style: italic; */
}


